<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="control-section centerArea">
                <div class="text-center">
                    <span class="h1">Sorry, there's nothing at this address</span>
                    <br />
                    <br />
                    <a href="/" class="btn btn-link">Return home</a>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>
